.input-field{
    width: 200px;
}

.calculator{
    width: 300px;
    
    
    
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 350px;
    
}



.screen{
    width: 94%;
    height: 50px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}
.button-grid{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
    grid-auto-rows: auto;
    

}

.button{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.button:hover{
    background-color: #f0f0f0;
}